// Variaveis fonte
$fonte--principal : 'Roboto', sans-serif;


// Variaveis Cores 
$cor-padrao: #FFF;
$cor-rosa: #FF55BB;
$cor-azul_escuro: #060047;
$cor-clara: #FFD93D;



// Variaves Size fontes 
$size-fonte-principal: 3rem;